<%- include("partials/header") %>


   <div class="create-container">
      <form action="/posts" method="post">
      <input type="text" name="username" placeholder="Enter your username"> <br /><br /><br />
      <textarea name="content" id="content" placeholder="Enter your post here..."></textarea><br /><br />

       <button type="submit">Add Post</button>
       </form>
   </div>
