<%- include("partials/header.ejs") %>

<div class="create-container">
   <h1 class="title">The Post You Requested:</h1>

    <h3 class="sub-title">Post Id  : <%= post.Id %> </h3>
    <h3>@<%= post.username %></h3>
    <p><%= post.content %></p>
</div>